.form{
    background-color:  rgba(252, 181, 134, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border: 2px solid  rgba(252, 181, 134, 0.3);
    border-radius: 20px;
    width: 450px;
    height: 110vh;
    padding:40px;
    text-align: center;
    margin: 30px;
 }

 h1{
    color: white;
 }


.sign-input{
   width: 100%;
   margin: 10px 0;
   padding: 12px;
   border: white  solid 1px;
   outline: none;
   border-radius: 8px;
   background: inherit;
}

.sign-input ::placeholder{
    color: white;
}

.sign-btn{
    border-radius: 20px;
    width: 90%;
    padding: 12px;
    border: none;
    margin-bottom: 20px;
    background-color:rgba(241, 107, 18, 0.589);
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.3);
}
@media(max-width:500px){
    .form{
        width:280px;
        height: 83vh;
        margin-top: 5%;
    }

    .sign-input{
        width: 270px;
    }
}
