.rform{
      background-color:  rgba(252, 181, 134, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border: 2px solid  rgba(252, 181, 134, 0.3);
    border-radius: 20px;
    width: 450px;
    height: 40vh;
    padding:40px;
    /* text-align: center; */
    margin: 30px;
    margin-top: 9%;
}
@media(max-width:600px){
    .rform{
      height: 30vh;
      margin-top: 50%;
    }
}