.wrapper{
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    color: black;
    transition: background-color 0.6s ease;
    position: relative;
    margin: 20px auto;
    background-color: black;
    /* flex-wrap: wrap; */
    padding: 0 20px;

    p{
          padding-top: 4%;

    }

    h2{
        padding-top: 4%;
    }
}

.button{
    position: absolute;
    bottom: 20px;
    background-color: coral;
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    cursor: pointer;
}

.cnnnn{
     width: 200px;
    height: 40px;
    color: white;
    background: coral;
    border: none;
    margin-top: 20px; 
    /* margin-left: 20px; */ 
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    
    text-decoration: none;

    
}

.h11{
    font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: bold;
        font-size: 40px;
        padding-bottom: 10px;
}

.pppp{
    font-family: Arial, Helvetica, sans-serif;
        color:rgb(66, 65, 65);
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
}

.wrapper:hover{
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgb(66, 65, 65);
}

@media(max-width:600px){
    .wrapper{
        width: 90%;
        height: 300px;
    }
}